{% extends "base.html" %} 

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card-body">
          <h3 class="card-title text-center">Add Student</h3>
          <form  action="" method="POST">
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">Save</button>
          </form>
        </div>
    </div>
  </div>
{% endblock content %}
</body>
</html>