{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snack Food</title>
    <link rel="shortcut icon" type="image/png" href="{% static "app/img/logo2.png" %}"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link  href="{% static 'app/css/all.min.css'%}" rel="stylesheet">
    <link  href="{% static 'app/css/owl.carousel.min.css' %}" rel="stylesheet">
    {% comment %} <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">  {% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="{% static 'app/js/s3.js'%}"></script>
    <script src="{% static 'app/js/all.min.js'%}"></script>
    <script src="{% static 'app/js/myscrip.js'%}"></script>
    <script src="{% static 'app/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'app/js/popper.min.js' %}"></script>
    <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript">
      var user = '{{request.user}}'
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
    </script>
    {% block stylesheet %}{% endblock%}

</head>
<body style="background-color: #eee;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
          <a class="navbar-brand" href="{% url "home" %}">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url "home" %}">DIỄN ĐÀN LẬP TRÌNH ỨNG DỤNG WEB VỚI DJANGO</a>
            </li>
          </ul>
          
          <form class="d-flex" action = "{% url 'search' %}" method="post">
            {% csrf_token %}
            <input class="form-control me-2" placeholder="Search" aria-label="Search" name= "search">
            <button class="btn btn-outline-primary" type="submit" style="margin-right: 80px">Search</button>
        </form>
        </div>
        {% if user.is_authenticated %}
        <div class="navbar-collapse collapse justify-content-end" id="mainMenu" style="">    
          <ul class="navbar-nav ">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ user.username }}
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="">Tài khoản</a>
                <a class="dropdown-item" href="">Đổi mật khẩu</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url "logout" %}">Đăng Xuất</a>
              </ul>
          </li>
          </ul>
        </div>
        {% else %}
          <form class="form-inline ml-auto ">
            <a href="{% url 'login' %}" class="btn btn-outline-secondary">Đăng Nhập</a>
            <a href="{% url 'register' %}" class="btn btn-primary ml-2">Đăng Ký</a>
          </form>
        {% endif %}
      </div>
    </nav>
    <br>
  {% block content %}{% endblock content %}
  <!-- Footer -->
<footer class="text-center text-lg-start text-muted">
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="#">Ninh Anh</a>
  </div>
  <!-- Copyright -->
</footer>

</body>
</html>
