{% extends 'Base.html' %}

{% block title %}Đăng Nhập{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card-body">
          <h3 class="card-title text-center">ĐĂNG NHẬP</h3>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
          </form>
        </div>
        <div class="card-footer text-muted text-center">
          Chưa có tài khoản? <a href="{% url 'register' %}">Đăng kí</a>
        </div>
      <div class="text-center py-2">
        <small>
          <a href="#" class="text-muted">Quên mật khẩu?</a>
        </small>
      </div>
    </div>
  </div>
{% endblock content %}